/*-----------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------- Inicio - Fonts -----------------------------------*/
@font-face {
  font-family: poppins-light;
  src: url(../font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../font/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins-semibold;
  src: url(../font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(../font/Poppins-Bold.ttf);
}
/*--------------------------- Final - Fonts ----------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------- Inicio - Encabezados -----------------------------*/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "poppins-bold";
}

/*-------------------------- Final - Encabezados -----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*-------------------------- Inicio - Parrafos -------------------------------*/
p {
  margin-bottom: 16px;
  font-size: 16px;
}
p:last-child {
  margin-bottom: 0;
}

b,
strong {
  color: #4e4d4d;
}

/*--------------------------- Final - Parrafos -------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*--------------------------- Inicio - Enlaces -------------------------------*/
a {
  outline: none;
  text-decoration: none;
  color: #E6484B;
  transition: all 0.2s ease;
}
a:hover {
  color: #00B67A;
}

/*--------------------------- Final - Parrafos -------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
img {
  max-width: 100%;
  height: auto;
  border: none;
}

/*-----------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

ul,
ol {
  list-style: none;
}

/*-----------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
.c-nav {
  background-color: #fff;
  height: 50px;
  border-bottom: 3px solid #f1f0f0;
}

.c-nav__logo {
  width: 78px;
  height: auto;
}

/*-----------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
.prueba {
  color: #E6484B;
}